body {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  position: absolute;
}

.nav-link.router-link-exact-active {
  color: #fbc114!important;
  border-bottom: 2px solid;
}

.btn {
  border-radius: 4rem;
  padding: 0.4rem 1.5rem;
}

.btn.btn-primary {
  background-color: #fbc114;
  border: 1px solid #fbc114;
}

.btn.btn-primary:focus {
  background-color: #e8b211;
}

.btn.btn-secondary {
  background-color: #f4f4f4;
  color: black;
}

.hero {
  background-image: url("/images/23.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero .hero-image {
  width: 700px;
}

.separator {
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.highlighted {
  color: #0093c4;
}

.leaflet-control-container .leaflet-routing-container {
  display: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}